.vscode/
.idea/
__pycache__/
*.pyc
*.pyo


.env
venv/
env/
.venv/
.myenv/

*.egg-info/
build/
nucleotide-transformer/
dist/
.ipynb_checkpoints/

data/raw/*.fna
data/processed/

*.pt
*.bin
*.ckpt

training_logs/
*.service