.vscode/
.idea/
__pycache__/
*.pyc
*.pyo


.env
venv/
env/
.venv/
.myenv/

.snakemake_env
.snakemake

*.egg-info/
build/
nucleotide-transformer/
dist/
.ipynb_checkpoints/

pretrained_models/

data/raw/*.fna
data/processed/
data/notebooks

*.pt
*.bin
*.ckpt
*.gz

training_logs/
*.service